/2025-02-19_product_cumulative_report.xlsx
/2025-02-20_product_cumulative_report(1).xlsx
/2025-02-20_product_cumulative_report.xlsx
/2025-02-21_product_cumulative_report.xlsx
/2025-02-24_product_cumulative_report.xlsx
/2025-02-25_product_cumulative_report.xlsx
/campaignsummary250219.xlsx
/campaignsummary250220.xlsx
/campaignsummary250225 (1).xlsx
/campaignsummary250226.xlsx
/campaign_ids.json
/Carro_Ceiling_Fans_2025-02-27-EST 05.13 pm.xlsx
/DID_research.ipynb
/group1.xlsx
/grouped.xlsx
/hd_report.ipynb
/product_scraper.ipynb
/search123852008.csv
/search20250226.csv
/test.xlsx
/test_new.xlsx
/__pycache__